body {
    margin: 0;
    background: rgb(250, 235, 216);
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
}

/*
    Header
*/
header {
    height: 150px;
    background: rgb(74, 157, 79);
    border-bottom: solid 2px rgb(48, 102, 48);
    box-shadow: 0px 0px 4px 1px black;
}
div#logo {
    padding: 20px 30px 40px 30px;
    width: 225px;
    color: white;
    float: left;
    border-right: solid 2px rgb(48, 102, 48);
    background: rgba(0, 0, 0, 0.08);
}
div#logo:hover {
    color: rgb(242, 245, 225);
    cursor: pointer;
    background: rgba(0, 0, 0, 0.2);
}
header h1 {
    margin: 0;
    font-size: 4em;
    text-shadow: 1px 2px 1px black;
    -webkit-font-smoothing: antialiased;
}
header h3 {
    margin: -18px 0 0 0;
    font-size: 1.10em;
    font-style: italic;
    padding-left: 69px;
    text-shadow: 1px 2px 1px black;
    -webkit-font-smoothing: antialiased;
}
header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
header li {
    height: 150px;
    width: 150px;
    text-align: center;
    float: left;
    font-size: 1.25em;
    text-shadow: 1px 1px 1px #000;
    border-right: dotted 1px rgb(48, 102, 48);
}
header li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
header li a:hover {
    color: rgb(244, 244, 244);
    text-decoration: underline;
}
header li p {
    margin: 0;
    margin-top: 55px;
    transition: margin 0.4s, border 0.4s;
    border-bottom: solid 1px transparent;
}
/*
    Navigation javascript stuffs
*/
header li .selected {
    margin: 0;
    padding-bottom: 2px;
    border-bottom: solid 1px rgb(48, 102, 48);;
}
header li ul {
    opacity: 0;
    pointer-events: none;
    height: 120px;
    overflow-x: hidden;
}
header li li {
    height: 20px;
    font-size: 20px;
    color: white;
    float: none;
    border-right: none;
    border-bottom: dotted 1px rgb(48, 102, 48);
    padding: 0 0 10px 0;
}
header li li a {
    font-weight: normal;
}
header li ul::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

header li ul::-webkit-scrollbar
{
    width: 5px;
    background-color: transparent;
}

header li ul::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #515151;
}
/*
    Rooster
*/
.day {
    float: left;
    padding: 0 50px;
}
td {
    border: solid 1px;
}
/*
    Extra stuffs
*/
#wut {
    position: fixed;
    right: 0;
    bottom: -95vh;
    transition: bottom 8s;
}
#wut img {
    height: 90vh;
}
#wut2 {
    bottom: -70vh;
    height: 7.5vh;
    width: 7.5vh;
    position: fixed;
    right: 29vh;
    border-radius: 5px;
    transition: bottom 8s;
}
#overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    pointer-events: none;
}
p.sale {
    margin: 0;
    padding: 1px;
    font-size: 2em;
    color: white;
    background: rgb(10, 158, 10);
    width: 7vw;
    text-align: center;
    position: fixed;
}